div.content { margin-left: 4pc; margin-right: 3pc; }
h3 { display: inline; margin-left: -1pc; font-size: 12pt; margin-right: 4pt; }
ul { list-style-type: square; margin-top: 6pt; margin-left: 0pt; padding-left: 4pc; }
h1 { margin-bottom: 1pc; }