body{padding:0px;background:#ffffff;color:#000000;font-family:"Trebuchet MS",Trebuchet,Verdana,Sans-Serif;}
a{color:#DE7008;}
a:hover{color:#E0AD12;}
#logo{padding:0px;margin:0px;}
div#mainClm{float:right;width:66%;padding:30px 7% 10px 3%;border-left:dotted 1px #E0AD12;}
div#sideBar{margin:20px 0px 0px 1em;padding:0px;text-align:left;}
#header{padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;border-top:1px solid #eeeeee;border-bottom:dotted 1px #E0AD12;background:#F5E39E;color:white;}
h1,h2,h3,h4,h5,h6{padding:0px;margin:0px;}
h1 a:link {text-decoration:none;color:#F5DEB3}
h1 a:visited {text-decoration:none;color:#F5DEB3}
h1{padding:25px 0px 10px 5%;border-top:double 3px #BF5C00;border-bottom:solid 1px #E89E47;color:#F5DEB3;background:#DE7008;font:bold 300% Verdana,Sans-Serif;letter-spacing:-2px;}
h2{color:#9E5205;font-weight:bold;font-family:Verdana,Sans-Serif;letter-spacing:-1px;}
h3{margin:10px 0px 0px 0px;color:#777777;font-size:105%;}
h4{color:#aa0033;}
h6{color:#B8A80D;font-size:140%;}
b.orange{color:#DE7008;}
a.note {text-decoration:none;}
a.note span {text-decoration:none;display:block;color:#FFFFFF;font-size:small;}
a.note:hover span {text-decoration:none;display:block;color:#FFFFFF;font-size:small;color:#DE7008;}
blockquote {
  padding: 0 0 0 35px;
  background: #fff url('http://homepages.inf.ed.ac.uk/wadler/blockquote.gif') 0 0 no-repeat;
}

/* a span#note {display:none;} */
/* a:hover span#note {display:block;font-size:small;} */
